.btn {
    background: #04bc00;
    color: white;
    border : none;
}

.btn:focus,
.btn:active:focus {
    background: #0c6b00!important;
    color: white;
    border : none;
    outline: none;
    box-shadow: none!important;
}
.btn:hover,
.btn:focus {
    background: #108c00;
    color: white;
    border : none;
}
.btn:active {
    background: #0c6b00!important;
    color: white;
    border : none;
    outline: none;
    box-shadow: none!important;
}
.pagination > li > a {
    color : black; 
}

.pagination > .active > span {
    background: #04bc00 !important;
    color : white;
    border : none;
    box-shadow: none!important;
}